<div class="l-api">
    <section class="l-api__widget">
        <loader [active]='loading'></loader>
        <div class="l-api__widget-header">
            <span class="title">Api table</span>
            <a [routerLink]="['/master']" class="action" role="button" aria-expanded="false">
                <i class="icon-android-add" aria-hidden="true"></i>
            </a>
        </div>
        <div class="l-api__widget-body">
            <div class="l-api__table m__table m__table--4cols">
                <div *ngFor='let config of configs' class='m__table-row'>

                    <div class="m__table-cell l-api__table--indicator green">
                        <i class='icon-record'></i>
                    </div>

                    <div class="m__table-cell">
                        <a [routerLink]="['./master']" [queryParams]='{ id: config.id }'>~{{ config.entry }}</a>
                    </div>
                    <div class="m__table-cell hidden-sm-down"><span class='l-api__description'>{{ config.description }}</span></div>
                    <div class="m__table-cell">
                        <div *ngFor='let method of config?.methods' class='l-api__method'>
                            <span class="label label-default">{{ method }}</span>
                        </div>
                    </div>
                    <div class="m__table-cell m__table-cell--foot l-api__table--actions">
                        <button [popover]="actionsPopover" class="l-api__table--actions-item">  <i class="icon-android-more-vertical"></i></button>
                        <popover-content #actionsPopover placement="auto bottom" [floating]='true' [shiftLeft]='-15' size='md' [closeOnClickOutside]="true">
                            <div class="l-api__menu">
                                <button class="l-api__menu-item" (click)="editApi(config)">
                                <span class="icon-edit"></span>Edit entry</button>
                                <button class="l-api__menu-item" (click)="deleteApi(config)">
                                   <span class="icon-ios-trash"></span>Remove entry</button>
                                <div class="l-api__menu-item" (click)="toggleActive(config)">
                                    <span class="icon-checkmark-circled"></span>
                                    <span>Activate</span>
                                    <loc-switch> </loc-switch>
                                </div>
                            </div>
                        </popover-content>
                    </div>
                </div>
            </div>
        </div>
        <h3 *ngIf='configs.length == 0'>No entry points added</h3>
    </section>
</div>