<template #content let-c="close" let-d="dismiss">
    <div class="l-login__container f-exclude">

        <!--<div class="l-appointment__container">-->
        <h3 class="l-login__title--page">SignUp</h3>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-md-4 col-md-offset-4">
                <div class="login-form-container">
                    <div *ngIf="!!error">
                        {{error}}
                    </div>
                    <form [formGroup]="signUpForm" no-validate (ngSubmit)="onSubmit(signUpForm.value)">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="name" formControlName="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
                        </div>
                        <!--<div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>-->
                    </form>
                    <div class="form-group">
                        <button type="button" (click)='onSubmit(signUpForm.value)' class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template ngbModalContainer></template>