@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('Open Sans Light'), url(/assets/fonts/OpenSans-Light.ttf)  format('truetype');  
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('Open Sans Regular'), url(/assets/fonts/OpenSans-Regular.ttf)  format('truetype');  
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Open Sans'), local('Open Sans Semibold'), url(/assets/fonts/OpenSans-Semibold.ttf)  format('truetype');  
}

