<div class="l-master">
    <div class="l-master__card">      
        <div class="row">      
                <div class="col-sm-12 col-md-6" style='margin-bottom: 5px;'> 
                    <span style='margin-right: 7px;'>URL:</span><span>~{{config.entry}}</span>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="input-group">
                        <select #methodSelect name="method" (change)='methodChange($event.target.value)' class='form-control' id="method" [(ngModel)]='selectedMethod'>
                            <option *ngFor="let method of config.methods" [value]="method">{{ method }}</option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" (click)="send()" class="btn btn-secondary send-button">         
                                            SEND
                            </button>
                        </span>
                    </div>
                </div>
                  <div class="col-sm-12">
                    <ngb-tabset class='l-steps__preview-tabset'>
                        <ngb-tab title="Headers">
                            <template ngbTabContent>                            
                                <div style='padding:5px 0;'>
                                    <key-value-control [(ngModel)]='headers'></key-value-control>
                                </div>
                            </template>
                        </ngb-tab>
                        <ngb-tab title="Params">
                            <template ngbTabContent>                        
                                <div style='padding:5px 0;'>
                                    <key-value-control [(ngModel)]='params'></key-value-control>
                                </div>
                            </template>
                        </ngb-tab>
                        <ngb-tab title="Body" [disabled]="bodyDisabled">
                            <template ngbTabContent>                          
                                <div style='padding:5px 0;'>
                                    <div ace-editor [text]="text" [mode]="'json'" [theme]="'eclipse'" [options]="aceOptions" [readOnly]="false" [autoUpdateContent]="true"
                                        (textChanged)="onChange($event)" style="min-height:250px;">
                                    </div>
                                </div>
                            </template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        <template #contentPreview let-c="close" let-d="dismiss">
            <div class="l-steps__resultModal-container">
                <div [ngSwitch]="testresult" style='display: flex; flex-direction: row; flex: 0 1 auto; max-width: 100%; height: 100%'>
               
                    <template ngSwitchCase="json">
                        <div style='overflow: scroll;  overflow-x: auto; flex: 1 0 auto; max-width: 100%; border: 1px solid #ccc; overflow-x: auto; margin-bottom: 5px;'>
                            <pre [innerHTML]='prettifyJson(result) | safeHtml' class='json'>                            
                            </pre>
                        </div>
                    </template>
                    <template ngSwitchCase="html">
                        <iframe  [srcdoc]='result | safeHtml'></iframe>
                    </template>
                    <template ngSwitchDefault>
                        <div>
                            {{result}}
                        </div>
                    </template>
              

                </div>


                
                
                <button type="button" class="button button--primary" (click)="c()" style='flex: 0 1 auto;'>Ok</button>               
            </div>    
         
        </template>
    </div>
    <button type="button" (click)="onSubmit()" class="button button--primary l-master__next">
               <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    Done
    </button>
</div>