ul.plugins {
  list-style: none;
  margin: 0;
  padding: 0;
}

.table {
  margin-bottom: 0;
}

.table > thead > tr > th {
  font-weight: 600;
  text-transform: uppercase;
  border-bottom-width: 1px;
}

.table > tbody > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
}
