<div class="l-entries" flexy [bottom]='50'>
    <div class="l__page-header">
        <span class="title">Entries</span>
    </div>
    <div class='l__page-body'>
        <div class="entries">
            <div class='entries__header' [@initial]="state">
                <div class="entries__header-search">
                    <div class="input__search">                
                         <input #searchInput placeholder='Filter by name' [formControl]="searchControl" [ngModel]='searchParams.name'>
                        <div class='hightlite-underline'>
                            <span class="hightlite-bar"></span>
                        </div>
                        <i class="icon-search"></i>
                    </div>
                </div>
                <div class="entries__header-operations">
                    <button title="Update state" class='entries__header-item entries__header-item--update' (click)='onUpdateClick()'>  <i class="icon-loop" aria-hidden="true"></i></button>
                    <button title="Add new entry" class='entries__header-item' (click)='onAddClick()'>  <i class="icon-plus-1" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="entries__table" [style.minHeight.px]='!initialComplete || configs?.length == 0 ? 150: 0'>
                <!--Loading indicator-->
                <loader [active]='loading' [delay]='300' [overlay]='configs?.length > 0'></loader>       
                <div class="entries__table-container">
                    <entries-details #details *ngFor='let config of configs' [configO]='config'>
                        <div header-content class='entry'>
                            <div class='m__table-row'>
                                <div class="m__table-cell auto">                      
                                    <entry-indicator [type]='config.type' [up]='details.expand' (onClick)='details.toggle();'></entry-indicator>
                                </div>
                                <!--Name cell-->
                                <div class="m__table-cell hidden-sm-down">
                                    <span class='entry__description'>{{ config.name }}</span>
                                </div>
                                <!--Etry path cell-->
                                <div class="m__table-cell">                    
                                    <a [routerLink]="['./master', {t:'test'}]" [queryParams]='{ id: config.id }' title='Test entry'>
                                        ~{{ config.entry }}
                                    </a>
                                </div>
                                <!--Groups being applied to the entry (TBD)-->
                                <div class="m__table-cell hidden-sm-down">
                                    <span>{{ getGroupsApplied(config) }}</span>
                                </div>
                                <!-- Activate/deactivate entry -->
                                <div class="m__table-cell auto">
                                    <loc-switch [value]='config.active' (change)='toggleActive(config, $event)' [disabled]='config.errors && config.errors.length > 0'>
                                    </loc-switch>
                                </div>
                                <!-- Actions cell desktop-->
                                <div class="m__table-cell auto hidden-sm-down">
                                    <div class="entry__actions">                       
                                        <a class="entry__actions-item" title='Edit entry' [routerLink]="['./master', {t:'general'}]" [queryParams]='{ id: config.id }'>
                                            <span class="icon-android-create"></span>  
                                        </a>
                                        <button class="entry__actions-item" (click)="onRemove(config)" title='Remove entry'>
                                            <span class="icon-trash-o"></span>
                                        </button>
                                    </div>
                                </div>
                                <!-- Actions cell mobile -->
                                <div class="m__table-cell auto hidden-md-up">
                                    <div class="entry__actions">
                                        <template #sidebarTmpl>
                                            <div class="m-sidebar__header">
                                                <a [routerLink]="['profile']" (click)="setActive(false)" class="m-header__name">{{ config.name }}</a>
                                                <span class="m-header__career">{{ config.description }}</span>
                                            </div>
                                            <ul class="m-sidebar__menu">
                                                <li><a class="m-sidebar__menu--item" (click)="editApi(config); sidebar.close();"><i class="icon-android-create"></i>Edit entry</a></li>
                                                <li><a class="m-sidebar__menu--item" (click)="onRemove(config); sidebar.close();"><i class="icon-trash-o"></i>Remove entry</a></li>
                                            </ul>
                                            <div class="m-sidebar__content">
                                                <!--<div *ngIf="config.errors.length == 0" class='entry__indicator' [ngClass]="config.class">
                                                    <div *ngFor='let status of config.messages' class='l-api__table--statusPopoverContainer'>
                                                        <span style='margin-bottom:10px;'><i class='icon-record' [ngStyle]="{'color': status.error ? 'red' : 'green'}"></i><span style='margin-left:10px;'>{{status.name}} v{{status.version}}</span>
                                                        </span>
                                                        <div>{{status.message}}</div>
                                                    </div>
                                                </div>
                                                <div *ngIf="config.errors.length > 0" class='entry__indicator red'>
                                                    <div *ngFor='let error of config.errors' class='l-api__table--statusPopoverContainer'>
                                                                    <span style='margin-bottom:10px;'>IN: <b>{{error.name}}</b> service</span>
                                                        <div>{{error.message}}</div>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </template>
                                        <button class="entry__actions-item" (click)="sidebarMore.open($event, sidebarTmpl)">
                                            <span class="icon-dot-3"></span>                                       
                                        </button>
                                    </div>
                                </div><!--End actions cell-->
                            </div>
                        </div>               
                    </entries-details>             
                </div><!--End api table-->
                <h3 *ngIf='configs.length == 0 && !loading'>No entry points</h3>
            </div>
            <div class='entries__footer' [class.hidden]='count <= maxItems || !initialComplete'> 
                <loc-paging-bar [firstLast]="false" [pageSizeAll]="false" [pageSize]="maxItems" [total]="count"></loc-paging-bar>
            </div>
        </div>
    </div>
</div>
<loc-side-bar #sidebarMore='locSidebar' position='right'></loc-side-bar>
<template ngbModalContainer></template>