<div class="l-services">
    <div class="l-services__header">
        <span class="title"><a routerLink='/drivers'>Services</a> / {{ driverName }}</span>
    </div>
    <section class="l-services__configlist">
        <loader [active]='loading'></loader>
        <div class="l-services__configlist-body">
            <div class="l-services__table">
                <div *ngFor='let config of driverConfigs' class='m__table-row'>
                    <div class="m__table-cell">
                        <span class='l-driver__description'>{{ config.name }}</span>
                    </div>
                    <div class="m__table-cell auto hidden-sm-down">
                        <div class="l-services__table--actions">
                            <button class="l-services__table--actions-item" (click)="showModal(config.id)">
                                        <span class="icon-android-create"></span>                                       
                            </button>
                            <button class="l-services__table--actions-item" (click)="deleteConfig(config.id)">
                                        <span class="icon-ios-trash"></span>
                            </button>
                        </div>
                    </div>
                    <div class="m__table-cell auto hidden-md-up">
                        <div class="l-services__table--actions">
                            <button class="l-services__table--actions-item" (click)="showSideMenu(config)">
                                        <span class="icon-android-more-vertical"></span>                                       
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <template #driverModalContent let-c="close" let-d="dismiss">
        <div class="l-services__modalcontainer">
            <button type="button" class="close" (click)="c()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Configure</h4>
            <form #configForm="ngForm">
                <div class="form-group">
                    <label for='configName'>Name</label>
                    <input id='configName' type="text" class='form-control' name="name" #name='ngModel' [(ngModel)]='currentDriver.name' required/>
                    <show-error *ngIf='!name.valid' [control]="name" [options]="{'required': 'Name is required'}">
                    </show-error>
                </div>
                <div class="form-group">
                    <label for='description'>Description</label>
                    <input id='description' type="text" class='form-control' name="description" #description='ngModel' [(ngModel)]='currentDriver.description'
                        required/>
                    <show-error *ngIf='!description.valid' [control]="description" [options]="{'required': 'Description is required'}">
                    </show-error>
                </div>
                <dynamic-form [fields]="driverTemplate?.settings" name="settings" [(ngModel)]='currentDriver.settings'>
                </dynamic-form>
            </form>
            <div>
                <button type="button" [disabled]='!configForm.valid' class="button button--primary" (click)="addOrUpdate(); c()">Add</button>
            </div>
        </div>
    </template>
    <template ngbModalContainer></template>
</div>

<button class='l-api__add-button' (click)="showModal()">  <i class="icon-android-add" aria-hidden="true"></i></button>