<template #content let-c="close" let-d="dismiss">
    <div class="l-login__container f-exclude">
        <form class="l-login__loginform" [formGroup]="signInForm" novalidate (ngSubmit)="onSubmit(signInForm.value)">
            <h2 class="l-login__loginform-heading">Login</h2>
            <input type="text" class="form-control" name="username" placeholder="Name" formControlName="username" autofocus='true'>
            <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password">
            <label class="checkbox">
        <input type="checkbox" formControlName="remember" id="rememberMe" name="rememberMe"> Remember me
      </label>
            <button type="submit" class="button button--primary">Login</button>
        </form>
    </div>
</template>


<template ngbModalContainer></template>