  :host >>> .modal-dialog {
  position: relative;
  transform: translate(0, -100%);
  transition: transform .3s ease-out;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: 60px;
}
   
@media screen and (min-width: 1200px) {
  :host >  >  > .oh-modal .modal-dialog {
    width: 1170px!important;
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  :host >  >  > .oh-modal .modal-dialog {
    width: 940px!important;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  :host >  >  > .oh-modal .modal-dialog {
    width: 720px!important;
    max-width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  :host >  >  > .oh-modal .modal-dialog {
    width: 576px!important;
    max-width: 100%;
  }
}

:host >  >  > .oh-modal .modal-content {
  border: none;
}
