<header>
    <nav class="navbar navbar-light app-header">
        <button class='l-header__toggle' #openMenuBtn (click)="active = true"><span class="icon-android-menu"></span></button>
        <a [routerLink]="['/']" class="navbar-brand">200Loc-Dashboard</a>
    </nav>
</header>

<div class="l-header__sidebar" [class.active]="active" [offClick]='closeSidebarHandler' [ignore]='openMenuBtn'>
    <ul class="l-header__menu">
        <li><a class="l-header__menu-item" [routerLink]="['/entries']" routerLinkActive="active"><i class="icon-home icon-1x"></i>Api table</a></li>
        <li><a class="l-header__menu-item" [routerLink]="['/drivers']" routerLinkActive="active"><i class="icon-home icon-1x"></i>Drivers manager</a></li>
    </ul>
</div>