.l-api {
  &__header {
    padding: .5rem 0;
    color: $white;
    position: relative;
    margin-bottom: .625rem;
    background: transparent;
    user-select: none;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 400;

    a {
      color: $white;
    }
  }

  &__search {
    width: 100%;
    position: relative;
    padding: .625rem 0;
  }

  &__list {
    position: relative;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin: 0 auto;
    min-height: 80px;
    //  max-width: 80%;

    // &-header {
    //   background-color: #2c3e50;
    //   border-color: #2c3e50;
    //   padding: .625rem .875rem;
    //   border-bottom: 1px solid #e5e5e5;
    //   color: #fff;
    //   position: relative;

    //   span.title {
    //     margin-top: 5px;
    //     margin-bottom: 5px;
    //     font-size: 1rem;
    //   }

    //   &--actions {
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    //     margin: 0;
    //     list-style: none;
    //     height: 100%;
    //     padding: .8rem;
    //     display: flex;

    //     > li {
    //       flex: 1 0 auto;
    //       margin-right: 1rem;

    //       &:last-child {
    //         margin-right: 0;
    //       }

    //     }

    //     .action {
    //       @extend .button--icon;
    //       text-decoration: none!important;
    //       color: $white;
    //       font-size: 1.1rem;
    //       opacity: .8;

    //       &:hover {
    //         opacity: 1;
    //       }
    //     }
    //   }
    // }
    // &-body {
    //   min-height: 50px;      
    // }
  }

  &__master {
    padding-bottom: 10px;
  }

  &__table {
    @extend .m__table;
    @extend .m__table--4cols;

    margin-bottom: 0;

    .m__table-row {
      padding: .75rem;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
      margin-bottom: 1px;

      &--header {
        color: $light-grey;
        padding: 5px .625rem;
        height: 30px;
        border-bottom: 1px solid transparentize($light-grey, 0.7);
        font-size: .9rem;
        box-shadow: inset 0 0 30px rgba(107, 107, 107, 0.08);

        .m__table-cell {
          padding-top: 0 !important;
        }
      }
    }

    .m__table-cell {
      position: relative;
      display: flex;

      > * {
        margin: auto 0;
      }

      &.auto {
        flex: 0 1 auto;
        width: auto!important;
      }

    }

    &--statusPopoverContainer {
      color: #555;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #e6e6e6;
      padding: 10px 0;

      &:last-child,
      &:only-child {
        border-bottom: none;
      }
    }

    &--indicator {
      cursor: pointer;
      padding-top: 3px;
      color: transparent;

      &.green {
        color: $green;
      }

      &.red {
        color: $red;
      }
    }

    loc-switch {
      transform: translateY(3px);
    }

    &--actions {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      transform: translateY(3px);

      &-item {
        @extend .button--icon;
        margin-left: 1.25rem;
        font-size: 1.3rem;
      }
    }
    @media screen and (max-width:$grid-md) {
      margin: 0 !important;

      .m__table-row {
        padding: 1rem;
      }
    }
  }

  &__add-button {
    @extend .button--icon;
    position: fixed;
    background: #ea392b;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    bottom: 80px;
    right: 20px;
    color: white;
    padding-top: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.25), inset 0 -1px 0 rgba(0,0,0,.15);
    transition: all .1s linear;
    font-size: 1.3rem;
    z-index: 5;

    &:hover {
      box-shadow: 0 2px 10px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.25), inset 0 -1px 0 rgba(0,0,0,.15);
    }

  }
}

span.l-api__description {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.l-api__method {
  display: inline-block;
  margin-right: 5px;

  > span {
    font-weight: 600px;
    @media screen and (max-width:$grid-md) {
      font-weight: 400px;
    }
  }
}
@media screen and (max-width: $grid-lg) {
  .l-api {
    &__list {
      max-width: 100%;
    }
  }
}

// mobile
@media screen and (max-width:$grid-md) {
  .l-api {
    margin: 0 !important;

    &__header {
      padding: .5rem 1.2rem;
    }

    &__search {
      width: 100%;
      position: relative;
      padding: .625rem 0;
      display: flex;
      background: white;

      .input__search {
        display: block;
        position: relative;
        padding: .625rem 0 0;
        flex: 1 0 auto;
        margin: 0 1.2rem;
      }
    }

    &__list {
      min-height: 0;
      margin: 0;

      &--header {
        position: fixed;
        left: 0;
        top: 63px;
        width: 100%;
      }

      /*   &--body {
        margin-top: 50px;
        width: 100%;
        height: 45px;
        z-index: 1;
      }*/

    }

    &__master {
      margin: 0 !important;
      padding: 0 !important;
    }

    &__add-button {
      position: absolute;
      top: 10px;
    }

  }

  .m__table-row {
    margin-bottom: 5px;
    box-shadow: 0 2px 4px -2px rgba(32, 37, 41, 0.25);
    background: $white!important;

    &:last-child {
      margin-bottom: 0;
    }

    &--header {
      height: 40px!important;
      margin: 0;
      padding: 9px 40px !important;
      box-shadow: inset 0 0 20px 1px rgba(132, 132, 132, 0.1);
    }
  }

}
