.l-api {
   @extend %lbasic;  
  //@include basic-layout();

  .hidden {
    display: none;
  }

  // &__header {
  //   @extend .l-common__header;
  // }

  // &__body {
  //   @extend .l-common__body;
  // }

  &__footer{
    padding: .325rem;
    background: white;
    display: flex;
  }

  &__actions {
    display: flex;
    background: $header-white;
    padding: $p 1.2rem;

    &-search {
      width: 100%;
      position: relative;
      padding: $p 0;
    }

    &-operations {
      display: flex;
      margin-right: -$p;

      button {
        @extend .button--icon;
        color: $light-grey;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        font-size: 2rem;
        padding-top: .2rem;
        transition: all .15s linear;
        margin: auto;

        &:hover {
          background: $blue;
          color: $white;
          box-shadow: 0 2px 10px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.15), inset 0 -1px 0 rgba(0,0,0,.15);
        }

        &.update {
          margin-right: $p;
        }
      }
    }
  }
  /*Basic container for */
  &__list {
    position: relative;
    margin: 0 auto;
    min-height: 50px;

    /*Not found entries*/
    > h3 {
      text-align: center;
      padding: 4rem;
      background: $white;
    }
  }

  &__status {
    &--card {
      width: auto;
      height: 60px;
      margin: .625rem;
      max-width: 200px;
      overflow: hidden;
      background: $header-white;
      -webkit-transition: all 250ms;
      -moz-transition: all 250ms;
      transition: all 250ms;
      box-shadow: 0 1px 3px rgba(0,0,0,0.15);
      display: flex;
      font-size: 1rem;
      padding: .3rem;

      &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -webkit-transform: translateY(-1px);
        -moz-transform: translateY(-1px);
        transform: translateY(-1px);
      }

      > * {
        margin: auto .325rem;

        &:last-child {
          margin-right: 0 !important;
        }

        &:first-child {
          margin-left: 0 !important;
        }

        &:only-child {
          //  border-bottom: none;
        }
      }

    }
  }

  // Status/error indicator in api table (first cell)
  &__indicator {
    font-size: 1.2rem;
    color: transparent;
    display: flex;
    height: 20px;
    width: 20px;
    font-size: 1.1rem;
    line-height: 0;
    cursor: pointer;

    &-green {
      color: $green;
      cursor: pointer;

      svg {
        fill: $green;
      }
    }

    &-red {
      color: $red;

      svg {
        fill: $red;
      }
    }

    &-yellow {
      color: $yellow;

      svg {
        fill: $yellow;
      }
    }

    &-blank {
      color: $light-grey;
      cursor: inherit;
    }
  }

  &__master {
    padding-bottom: 10px;
  }

  &__table {
    @extend .m__table;
    @extend .m__table--4cols;

    margin-bottom: 0;
    //  background-color: #fff;

    .m__table-row {
      padding: $p;
      //  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
      //   margin-bottom: 1px;    
    }

    .m__table-cell {
      position: relative;
      display: flex;

      > * {
        margin: auto 0;
      }

      &.auto {
        flex: 0 1 auto;
        width: auto!important;
      }

    }

    loc-switch {
      transform: translateY(3px);
    }

    &--actions {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      transform: translateY(3px);

      &-item {
        @extend .button--icon;
        font-size: 1.3rem;
        margin-left: 1.2rem;
        transition: all .15s linear;
        text-decoration: none!important;

        &:hover {
          color: $blue;
        }
      }
    }
    @media screen and (max-width:$grid-md) {
      margin: 0 !important;

      .m__table-row {
        padding: 1rem;
      }
    }
  }
}

span.l-api__description {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.l-api__method {
  display: inline-block;
  margin-right: 5px;

  > span {
    font-weight: 600px;
    @media screen and (max-width:$grid-md) {
      font-weight: 400px;
    }
  }
}
@media screen and (max-width: $grid-lg) {
  .l-api {
    &__list {
      max-width: 100%;
    }
  }
}

// mobile
@media screen and (max-width:$grid-md) {
  .l-api {
    margin: 0 !important;
    min-height: 423px;
    display: flex;
    flex-direction: column;

    // &__header {
    //   padding: .5rem 1.2rem;
    //   margin-bottom: 0;
    //   z-index: 1;
    // }

    &__footer {
      padding: $p;
      margin-top: auto;

      loc-paging-bar {
        margin: auto;
      }

      .m-pager__navigation {
        button {
          @extend .l-api__actions-item;
        }
      }

    }

    &__actions {
      background: $white;

      &-search {
        width: 100%;
        position: relative;
        padding: $p 0;
        display: flex;
        background: white;

        .input__search {
          display: block;
          position: relative;
          padding: $p 0 0;
          flex: 0 1 auto;
          width: 100%;
        }
      }

      &-operations {
        background: white;
        padding-right: 0;
        margin-right: -0.25rem;
      }

      &-item {
        background: #d0dce7!important;
        color: white!important;

        &.update {
          margin-right: 1.3rem !important;
          margin-left: 1rem !important;
        }
      }
    }

    &__list {
      min-height: 0;
      margin: 0;
    }

    &__master {
      margin: 0 !important;
      padding: 0 !important;
    }

    &__add-button {
      position: absolute;
      top: 10px;
    }

  }

  .m__table-row {
    margin-bottom: 5px;
    box-shadow: 0 2px 4px -2px rgba(32, 37, 41, 0.25);
    background: $white!important;

    &:last-child {
      margin-bottom: 0;
    }

    // &--header {
    //   height: 40px!important;
    //   margin: 0;
    //   padding: 9px 40px !important;
    //   box-shadow: inset 0 0 20px 1px rgba(132, 132, 132, 0.1);
    // }
  }

}

entries-details {
  width: 100%;
  display: block;
  margin-bottom: 1px;

  &:last-of-type {
    & .panel.expanded {
      //  margin-bottom: 5px !important;
    }
  }

  &:not(:last-of-type):not(:first-of-type) {
    & .panel {}
  }

  &:first-of-type {
    & .panel.expanded {
      //   margin-top: 5px !important;
    }
  }

}
