.l-page {
  &__wrap {
    min-height: 100%;
    position: relative;
    @media screen and (min-width: $grid-md) {
      //    margin-bottom: -60px;
      margin-bottom: -50px;
      padding-bottom: 50px;

      /* &:after {
        content: "";
        display: block;
        height: 60px;
      }*/
    }
  }

  &__footer {
    @extend .hidden-sm-down;

    padding: 1rem 0;
    height: 100%;
    font-size: 1em;
    background: $light-blue;
    text-align: center;
    height: 50px;
    color: $white;
  }
}

.l-container {
  @extend .container-fluid;
  padding: 0 !important;
  @media screen and (max-width: $grid-md) {
    padding: 0;
    margin: 0;
  }
  @media screen and (min-width: $grid-md) and (max-width: $grid-lg) {
    padding: 0 15px !important;
    max-width: 50rem;
    margin: 0 auto;
  }
  @media screen and (min-width: $grid-lg) {
    padding: 0 15px !important;
    max-width: 60rem;
    margin: 0 auto;
  }
}

.l-row {
  @extend .row;
  @media screen and (max-width: $grid-md) {
    padding: 0;
    margin: 0;
  }
}

.l-col {
  @media screen and (max-width: $grid-md) {
    padding: 0 !important;
  }
}

body.blurred *.authH {
  filter: blur(3px);

  > * {
    filter: blur(3px);
  }
}

.loc-modal {
  .modal-dialog {
    position: relative;
    //  transform: translate(0, -100%);
    transition: transform .3s ease-out;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    .modal-dialog {
      width: 1170px!important;
      max-width: 100%;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .modal-dialog {
      width: 940px!important;
      max-width: 100%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .modal-dialog {
      width: 720px!important;
      max-width: 100%;
    }
  }
  @media screen and (max-width: $grid-md) {
    .modal-dialog {
      width: 100%!important;
      height: 100%!important;
      margin-top: 0;
      margin-bottom: 0;
      max-width: 100%;
    }

    .modal-content {
      height: 100%;
      border-radius: 0;
    }
  }

  .modal-content {
    border: none;
  }
}
