.l {
  &-common {
    margin-bottom: 0;

    &__header {
      padding: .5rem 0;
      color: $white;
      position: relative;     
      background: transparent;
      user-select: none;
      height: 40px;
      font-size: 1.1rem;
      font-weight: 400;

      a {
        color: $white;
      }
    }

    &__body {
      padding-top: 0;
      transition: padding-top .2s ease;
    }

  }
}
@media screen and (max-height: 600px) {
  .l {
    &-common {
      margin-bottom: .325rem;
      transition: padding-top .2s ease;

      &__body {
        padding-top: .325rem;
      }
    }
  }
}
@media screen and (min-height: 600px)and (max-height: 699px) {
  .l {
    &-common {
      margin-bottom: .625rem;

      &__body {
        padding-top: .625rem;
      }
    }
  }
}
@media screen and (min-height: 700px) and (max-height: 899px) {
  .l {
    &-common {
      margin-bottom: 1.2rem;

      &__body {
        padding-top: 1.2rem;
      }
    }
  }
}
@media screen and (min-height: 900px) {
  .l {
    &-common {
      margin-bottom: 0;

      &__body {
        padding-top: 1.5rem;
      }
    }
  }
}
@media screen and (max-width: $grid-md) {
  .l {
    &-common {
      margin-bottom: 0 !important;

      &__body {
        padding-top: 0 !important;
      }
    }
  }
}
