.l-header {
  &__navbar {
    @extend .navbar;
    @extend .navbar-light;

    background: $white;
    flex-direction: row;
  }

  &__sidebar {
    position: absolute;
    transform: translateX(-280px);
    transition: transform .25s cubic-bezier(0.4,0.0,0.2,1),visibility 0s linear .25s;
    width: 280px;
    visibility: hidden;

    &.active {
      top: 0;
      left: 0;
      height: 100%;
      transform: translateX(0);
      background-color: #fff;
      box-shadow: 0 0 4px rgba(0,0,0,.28);
      bottom: 0;
      color: #000;
      overflow: hidden;
      z-index: 990;
      display: flex;
      flex-direction: column;
      visibility: visible;

      transition: transform .25s cubic-bezier(0.4,0.0,0.2,1),visibility 0s linear 0s;
    }

    &-menu {
      @extend .list-group;

      &--item {
        @extend .list-group-item;
        padding: .5rem 1.5rem .5rem 3.5rem;

        [class^="icon-"] {
          font-size: 1.2em;
          margin: 0 10px;
          color: $grey;
          position: absolute;
          left: 5px;
          font-size: 1.5rem;
        }
      }
    }
  }

  &__toggle {
    @extend .button--icon;
    margin-right: 20px;

    > span {
      transform: translateY(5px);
      display: inline-block;
    }
  }

  &__brand {
    @extend .navbar-brand;
    padding-top: 0.3em;
    @media screen and (max-width: $grid-md) {

      }
  }

  &__menu {
    @extend .nav;
    @extend .navbar-nav;

    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    flex: 1.5;
    padding-bottom: 12px;
    padding-top: 16px;
    padding-left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px !important;

    margin-left: auto;

    &-toggle {
      @extend .button--icon;
      font-size: 1.4rem;

      &:after {
        margin-top: .2rem;
        margin-left: 3px;
        content: 'v';
        position: absolute;
        display: inline-block;
        font-family: "loc" !important;
        color: #a6b0b7;
        border: none;
        font-size: 1rem;
      }
    }

  }
}
