.l-master {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__card {
    padding: 1em;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(220, 220, 220, 0.12), 0 1px 2px rgba(177, 169, 169, 0.24);
    margin-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    flex: 1;
  }

  &__next {
    width: 100%;
    @media screen and (max-width: $grid-md) {
      border-radius: 0;
    }
  }
}
