.l-wizard {
  @extend %lbasic; 

  .hidden {
    display: none;
  }

  &__header {
    @extend .l-common__header;
  }

  &__body {
    @extend .l-common__body;
  }

 

  &__next {
    width: 100%;
    @media screen and (max-width: $grid-md) {
      border-radius: 0;
    }
  }
}
